.Main{
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
}

.Sub{
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

.Mike{
  padding-top: 25px;
  padding-left: 40%;
}


audio{
  padding-top: 25px;
  padding-left: 40%;
}